.workDetail {
    
    min-height: 100vh;

    .content {
        margin: 40px auto;
    }
    
    h2 {
        
    }
    h1, h3, h4, h5 { 
        animation: fadeIn .8s ease-in-out; /* Apply the fadeIn animation */
    }
    h6 { 
        margin-bottom: 4em;
        animation: fadeIn .8s ease-in-out; /* Apply the fadeIn animation */
    }


    p {
        line-height: 1.8;
        margin-bottom: 1.5rem;
    }

    a {
        color: black;
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-decoration-color: var(--font-color-alt);
        display: inline-block; 
        transition: transform .3s ease-in-out;
    }

    a:hover {
        transform: translateY(-5px);
    }

    a:not(:hover) {
        transition: none;    
    }

    a:hover:has(img) {
        background-color: unset;
    }

    .technologyStackContainer {
        margin: 1rem 0;
    }

    ul, ol {
        padding: 1rem;
    }

    blockquote > p {

      }

}


/* Define a keyframe animation for fading in */
@keyframes fadeIn {
    from {
      opacity: 0; /* Start with opacity 0 */
      transform: translateY(-10px); /* Move elements up by 10px */
    }
    to {
      opacity: 1; /* End with opacity 1 */
      transform: translateY(0); /* Return elements to their original position */
    }
  }