.listContainer {
    min-height: 250px;
    width:50%;
}

.list {
    display: grid;
    column-gap: 2rem;
    margin: 3rem 0;
     
}

.listItem {
    background: transparent;
    display: flex;
    flex-grow: 1; /* Allow items to grow */
    flex-basis: 100%; /* Allow items to take full width */
    gap: 1rem;
    text-decoration: none;
    border-left: 1px solid hsla(0, 0%, 0%, 0.2);
    padding-left: 20px;
    margin-bottom: 20px;
    transition: transform .3s ease-in-out; /* Add transition for smooth movement */

    h4 {
        color: var(--font-color-muted);
    }
    p{
        
    }
}

.listItem p {
    margin: 0px;
    line-height: 1.6em;
    margin-bottom: 0px;
}

.listItem:hover {
    transform: translateY(-5px); /* Move list item up by 5px on hover */

    h3 {
        color: var(--font-color-base);
    }
}

.listItem:not(:hover) {
    transition: none; /* Remove transition when not hovering */
}

.listItem:active {
    transform: scale(1);
}

.date {
    color: rgba(0, 0, 0, 0.45);
    margin-left: auto;
    white-space: nowrap;
}

.description {
    
}

/* Adjustments for smaller screens */
@media screen and (max-width: 480px) {
    .listContainer {
        width: 100%; /* Ensures list container takes up the full width */
    }

    .listItem {
        max-width: 100%; /* Ensures the list item takes up the full width */
    }
}