.listContainer {
    min-height: 250px;
    width:50%;
}

.list {
    display: grid;
    column-gap: 2rem;
    margin: 3rem 0;
     
}

.listItem {
    background: transparent;
    display: flex;
    flex-grow: 1; /* Allow items to grow */
    flex-basis: 100%; /* Allow items to take full width */
    gap: 1rem;
    text-decoration: none;
    border-left: 1px solid hsla(0, 0%, 0%, 0.2);
    padding-left: 20px;
    margin-bottom: 20px;
    transition: transform .3s ease-in-out; /* Add transition for smooth movement */

    h4 {
        color: var(--font-color-muted);
    }
    p{
        
    }
}

.listItem p {
    margin: 0px;
    line-height: 1.6em;
    margin-bottom: 0px;
}

.listItem:hover {
    transform: translateY(-5px); /* Move list item up by 5px on hover */

    h3 {
        color: var(--font-color-base);
    }
}

.listItem:not(:hover) {
    transition: none; /* Remove transition when not hovering */
}

.listItem:active {
    transform: scale(1);
}

.date {
    color: rgba(0, 0, 0, 0.45);
    margin-left: auto;
    white-space: nowrap;
}

.description {
    
}


.tagstacks {
    width: 200%;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 12px;
    justify-content: flex-start;
    margin-top: 0px;
    margin-bottom: -24px;
    padding: 0px 0px 0px 0px;
    
    
}

.tagstacks button:not(:last-child)::after {
    content: "|"; /* Add the separator */
    margin-left: 15px; /* Adjust the spacing between the separator and the button */
}

.tagstacks button {
    color: rgba(0, 0, 0, 0.45);

	letter-spacing: 0.5px;
    border: none; /* Remove border */
    outline: none; /* Remove outline */
    background-color: none;
    background: none;
    text-decoration: none; /* Remove default underline */
    cursor: pointer; /* Change cursor to pointer to indicate clickable */
}

.tagstacks button:hover {
}

.tagstacks button:active {
}



/* Adjustments for smaller screens */
@media screen and (max-width: 480px) {
    .listContainer {
        width: 100%; /* Ensures list container takes up the full width */
    }

    .listItem {
        max-width: 100%; /* Ensures the list item takes up the full width */
    }

}


.activeStack {
    /* Define styles for the active stack */
  }
  
  .stack {
    /* Define styles for the stack */
  }
  
  .exportedClass {
    /* Define styles for the exported class */
  }
  
  /* Exported classes */
  :export {
    activeStack: activeStack;
    stack: stack;
  }