.layout {
    margin: 0 auto;

    .content {
        max-width: var(--content-width);
        min-height: 60vh;
        padding: 0 1rem;
        margin-left: auto;
        margin-right: auto;
    }
    
    
    .socials {
        margin: 0.5rem 0;

        img {
            margin-right: 5px;
        }
    
        a {
            text-decoration: underline;
        }
    }

    .disclaimer {
        display: inline-flex;
        width: 100%;
        max-width: var(--content-width);
        justify-content: left;
    
        p {
            margin-right: 1rem;
        }
    }
    
}

footer {
    display:inline-block;
    width: 100%;
    text-align: center;
    margin: 3rem 0 1rem 0;
    font-size: 0.7rem;

    p, a {
        margin: 0;
        color: var(--font-color-muted);
    }

    a {

    }

}



