nav, .navbar {
    display: flex;
    padding: 60px 0px 20px 0px;
    .links {
        display: inline-block;
        text-align: left;
    }
}

nav a, .navbar a {
    display: inline-block;
    margin-right: 20px;
    font-weight: 600;
    padding-bottom: 1px;
    letter-spacing: 2px;
    color: var(--font-color-heading);
}

nav a:hover, .navbar a:hover {

}

/* Add these styles for the images within links */
nav a img, .navbar a img {
    max-height: 2em; /* Adjust this value as needed */
    vertical-align: middle; /* Align the image vertically with the text */
    margin-right: 5px; /* Space between image and text */
}

/* This makes the logo expand in size when hover */
nav a:hover img, .navbar a:hover img {
    transform: scale(1.1); /* Apply transform only to images on hover */
    transition: transform 0.3s ease; /* Adjust transition duration as needed */

}


/* Responsive design for smaller screens */
@media (max-width: 420px) {
    nav, .navbar {
        font-size: 0.7em;

    }

    nav a, .navbar a {
        margin-right: 10px;
    }
}